
<mat-drawer-container class="mat-drawer-container" [hasBackdrop]="true">

  <mat-drawer class="mat-drawer" #drawer [mode]="'over'">
    <h2>Sidebar</h2>
    <div class="link-wrapper" routerLinkActive="active-link">
      <a class="link" routerLink="sign-in" >Sign In Example</a>
    </div>
    <div class="link-wrapper" routerLinkActive="active-link">
      <a class="link" routerLink="animations" >Angular Animations Example</a>
    </div>
  </mat-drawer>

  <mat-drawer-content>

    <mat-toolbar>
      <button (click)="drawer.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="app-title">{{title}}</span>
    </mat-toolbar>

    <router-outlet></router-outlet>

  </mat-drawer-content>
</mat-drawer-container>

